body {


    height: 1250px;
    background-image: linear-gradient(#57515c, #696969, #210934);


}


/* side nav buttons */
#mySidenav a{
    position: absolute;
    left: -95px;
    transition: 0.3s;
    padding:15px 5px 0px 10px;
    height:60px;
    width: 110px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    position: fixed; 
  }
  
  
  #mySidenav a:hover {
    left: 0;
    background-color: #210934;
  }
  
  
  /* sidenav seperate tab styling */
  #home {
    top: 20px;
    background-color: #f0ebf3;
    color: rgb(190, 186, 186);
    font-family: "ink-free";
  }
  

#heading {
    font-family: 'Ink Free';
    font-size: 84px;
    color: rgb(45, 0, 45);
    text-align: center;
    text-shadow: 2px 2px rgb(247, 240, 240);
}


#heading:hover {
    transform: rotate(180deg);
}


#about-us {
    color: whitesmoke;
    font-family: 'Linux Biolinm G', "Century Gothic";
    text-indent: 3%;
    margin: 0 10px 50px 12px;
    text-align: justify;
    animation-duration: 4s;
    animation-name: myplace;
    animation-direction: alternate;
}


h6 {
    text-decoration: underline;
}

.card-text {
    font-family: 'Linux Biolinm G', "Century Gothic";
}


@keyframes myplace {
    from {
        margin-left: 100%;
        width: 200%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* Code for Footer */
.logosFooter {
    height: 50px;
    width: 50px;
    margin: 5%;
}


.bottom-center {
    text-align: center;
}


#pplogo {
    width: 100%;
    height: fit-content;
    margin: 5px;
}


#bottom-page {
    background-color: #57515c;
    color: #D3D3D3;
    font-family: "Linux Biolinum G", "Century Gothic";
}


#contact-info {
    margin: 5%;
}


#name-info {
    font-size: 25px;
    font-family: "Harrington";
}